body {
  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
  
  min-width: 1010px;
}

.page-header {
  padding-top: 60px;
  min-height: 551px;
  background-image: url("../img/wheat-back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-header,
.page-footer {
  color: #ffffff;
  background-color: #000000;
}

.page-header__wrapper {
  width: 800px;
  margin: 0 auto;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-align: center;
}

.page-header__logo {
  width: 140px;
  height: 76px;
  margin-right: 60px;
}

.page-header__logo-image {
  width: 140px;
  height: 76px;
  
}

.main-nav {
  display: flex;
  align-items: center;

  list-style: none;
  margin: 0;
  padding: 0;
  
  height: 58px;
  text-transform: uppercase;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-nav a {
  color: #ffffff;
  font-size: 16px;
  white-space: nowrap;
  text-decoration: none;
}
.main-nav a:hover {
  color: #ffcb78;
}
.main-nav a:active {
  opacity: 0.7;
}

.main-nav li {
  margin-right: 56px;
}
.main-nav li:last-child{
  margin-right: 0;
}

.promo {
  margin-top: 125px;
  font-size: 70px;
  font-weight: bold;
  line-height: 70px;

  text-align: center;
}

.new-items {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 113px;
}

.new-items h2 {
  margin-top: 85px;
  margin-bottom: 90px;
}

.new-items h2,
.new-items h3 {
  color: #000000;
  font-size: 40px;
  line-height: 61px;
  font-weight: bold;
  text-transform: uppercase;
}

.new-items__catalog {
  display: grid;
  grid-template-columns: auto auto;
}

.catalog__item {
  margin: 0;
  padding: 0;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.catalog__item h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
}

.catalog__item img {
}

.item__wrapper {
  position: absolute;
  top: 85px;
  right: 0px;
  width: 155px;
  padding-right: 20px; 
}

.item__table {
  width: 100%;
  border-collapse: collapse;
}

.item__table td {
  padding: 10px;

  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;
}

.item__components {
  font-size: 14px;
  color: #444444;
}

.item__description {
  padding: 0px;
  padding-right: 20px;
}

.btn-wrapper {
  display: flex;
  align-items: center;
}

.btn-wrapper b {
  margin-left: 23px;
}

.btn {
  margin: 0;
  padding: 15px 17px;
  margin-right: 8px;

  color: #834700;

  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;

  border: 2px solid #834700;
}
.btn:hover {
  color: #6a3900;
  border-color: #6a3900;
}
.btn:active {
  color: #d2c4b3;
  border-color: #d2c4b3;
}

.btn-buy {
  color: #ffffff;
  background-color: #834700;
}
.btn-buy:hover {
  color: #ffffff;
  background-color: #6a3900;
}
.btn-buy:active {
  color: rgba(255, 255, 255, 0.3);
}

.btn-read {
  color: #a5a097;
  border-color: #a5a097;
}
.btn-read:hover {
  color: #ffffff;
  border-color: transparent;
  background-color: #a5a097;
}
.btn-read:active {
  color: rgba(255, 255, 255, 0.3);
}

.btn-social {
  display: inline-block;
  margin-right: 3px;
  background-color: #1b1b1b;
  height: 30px;
  width: 30px;
  font-size: 0;
  border: 1px solid #322d24;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.btn-social:hover {
  border-color: #605037;
}
.btn-social:active {
  opacity: 0.9;
}
.btn-inst {
  background-image: url("../img/icon-insta.png");
}
.btn-fb {
  background-image: url("../img/icon-fb.png");
}
.btn-vk {
  background-image: url("../img/icon-vk.png");
}

.features {
  margin: 0;
  padding: 0;
  padding-top: 80px;
  background-color: #ffcb78;
  height: 408px;
}

.features ul {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 180px;
  width: 1010px;
  list-style: none;
}


.features__item {
  padding-top: 100px;
  background-image: url("../img/icon-brew.png");
  background-repeat: no-repeat;
  background-position: 0 10px;
}
.features__item:nth-child(2) {
  background-image: url("../img/icon-matreshka.png");
}

.features__item:nth-child(3) {
  background-image: url("../img/icon-thumbsup.png");
}

.features__title {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

.history {
  margin: 0;
  padding: 93px 0 86px 0;
}

.history-wrapper {
  margin: 0 auto;
  width: 800px;
}

.history__title  {
  margin: 0;
  padding: 0;

  color: #000000;
  font-size: 40px;
  font-weight: bold;
  line-height: 61px;
  text-transform: uppercase;

}

.article__wrapper {
  margin-top: 70px;
  padding: 0;
}

.article__wrapper dt {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
  margin-bottom: 35px;
}

.article__title {
  color: #000000;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.article__src {
  margin-left: auto;
  font-style: italic;
}

.article__src a {
  color: #834700;
}
.article__src a:hover {
  color: #6a3900;
}
.article__src a:active {
  color: #cab7a2;
}

.article__wrapper dd {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;

  /* align-items: center; */
}

.article__img {
  flex-shrink: 0;
  margin-left: auto;
}

.article__description {
  margin: 0;
  padding: 0;
  margin-right: 100px;
}

.press-review {
  padding: 60px 0 86px 0;
  background-color: #ede5d8;
}

.press-review__wrapper {
  margin: 0 auto;
  width: 800px;
}

.press-review__wrapper h2 {
  color: #000000;
  font-size: 40px;
  font-weight: bold;
  line-height: 61px;
  text-transform: uppercase;
}

.review-item {
  margin: 0;
  position: relative;
}

.review-item p  {
  margin: 75px 0 40px 0;
  padding: 0;
  width: 700px;
  color: #404040; 
}
.review-item p::before {
  content: "";
  position: absolute;
  top: 0;
  left: -110px;
  width: 41px;
  height: 31px;
  background-image: url("../img/quotes.png");
  background-size: 41px 31px;
  /* background-position: -110px 0; */
}

.review-item cite {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

.price-list {
  padding: 60px 0 86px 0;
  background-color: white;
}

.price-list__wrapper {
  margin: 0 auto;
  width: 800px;
}

.price-list__title {
  color: #000000;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 61px;
  margin-bottom: 65px;
}

.price-list__table {
  width: 100%;;
}

.price-list__table th,
.price-list__table td {
  border-bottom: 1px solid #e5e5e5
}

.price-list__table th {
  padding-bottom: 30px;
  color: #999999;
  font-size: 11px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: left;
}

.price-list__table td {
  color: #000000;
  line-height: 60px;
  text-transform: uppercase;
}

.price-list__table td:first-child {
  font-weight: bold;
}

.latest {
  color: #ffffff;
  font-size: 8px;
  padding: 2px;
  background-color: #000000;
  border-radius: 3px;
}

.order {
  padding: 60px 0 86px 0;
  background-color: #ffcb78;
}

.order__title {
  color: #000000;
  font-size: 40px;
  font-weight: bold;
  line-height: 61px;
  text-transform: uppercase;
}

.order__wrapper {
  margin: 0 auto;
  width: 800px;
}

.order__wrapper p {
  width: 700px;
  margin: 60px 0;
}

.form__group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.form__wrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
}

.form__group label {
  margin-bottom: 10px;
  color: #000000;
  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.form__group input[type="text"],
.form__group input[type="tel"],
.form__group input[type="email"],
.form__group select,
.form__group textarea {
  box-sizing: border-box;
  height: 50px;
  padding: 15px 10px;
  font-size: 16px;
  color: #444444;
  background-color: #e5b66c;
  border: none;
}

.form__group textarea {
  min-height: 120px;
}

.form__group input[type="text"]:hover,
.form__group input[type="tel"]:hover,
.form__group input[type="email"]:hover,
.form__group select:hover,
.form__group textarea:hover {
  background-color: #d9ad66;
}
.form__group input[type="text"]:focus,
.form__group input[type="tel"]:focus,
.form__group input[type="email"]:focus,
.form__group select:focus,
.form__group textarea:focus {
  color: #000000;
  background-color: #ffffff;
}

.checkbox-area {
  margin: 20px 0;
}

.checkbox-area label {
  position: relative;
  cursor: pointer;
  margin: 10px 0 10px 55px;
  font-weight: bold;
  text-transform: uppercase;
}
.checkbox-area label::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  top: -10px;
  left: -55px;
  z-index: 1;
  width: 36px;
  height: 36px;
  background-color: #e5b66c;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.checkbox-area input[type="checkbox"] {
  display: none;
}
.checkbox-area input[type="checkbox"]:checked ~ label::before {
  /* border-color: #000000;
  border: 1px solid #000000;
  border-top-style: none;
  border-right-style: none;
  transform: rotate(-45deg); */
  border: 11px solid #e5b66c;
  box-shadow: inset 0 0 0 10px #000000;
}

.main-footer {
  background-color: #000000;
}

.main-footer__wrapper {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 1010px;

  display: grid;
  grid-template-columns: 309px auto;
  grid-template-rows: 182px 70px;
  align-items: center
}

.page-header__logo {
  width: 309px;
  text-align: center;
}

.page-header__logo-image {
  width: 140px;
  height: 76px;
}

.footer-social {
  text-align: center;
}

.footer-social a {
  margin: 0;
}

.footer-copyright {
  display: flex;
  align-items: center;
}

.footer-copyright p {
  color: #989898;
  font-size: 14px;
  width: 200px;
  margin-right: auto;
}

.footer-copyright a {
  color: inherit;
  text-decoration: none;
}

.footer-copyright a:hover {
  color: #ffcb78;
}

.footer-copyright a:active {
  opacity: 0.7;
}

.footer-copyright b {
  margin: 5px;
}